.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #8C0073!important;
}
.navbar-toggler-icon {
    width: 2em;
    height: 2em;
    
}
.navbar-brand {
    font-family: "Sofia", sans-serif;
    font-size: 2em;
    text-decoration: none;
    text-decoration-color: rgb(223, 105, 105);
}
.navbar-nav{
    font-family: "Sofia", sans-serif;
}
.display-5 {
    text-shadow: 5px 1px #550e0e;
    font-family: "Sofia", sans-serif;
    font-size: 3rem;
    text-shadow: 3px 3px 3px #ababab;
}
.text-white-50 {
    --bs-text-opacity: 1;
    color: rgba(252, 252, 252, 0.5) !important;
    font-family: "Sofia", sans-serif;
}
.navbar-dark .navbar-brand {
    color: #ff0077;
  }
.btn-primary {
    color: #fff;
    background-color:none;
    border-color: #2e4a74;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border: 5px outset;
    border-radius: 50px;
}

.border-bottom {
    border: 1px #7c7b99 outset;
    border-radius: 1%;
    background: rgb(248, 211, 3);
}
.p2{
    font-family: "Sofia", sans-serif;
    color: #2e4a74;
}
.im{
    height: 100px;
    width: 100px;
}
/* .castomdiv{
    margin-top: 50px;
    height: 100px;
    width: 100px;
    border: violet 2px solid;
    border-radius: 50%;
    box-sizing: border-box;
} */
.card{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #ffc107;
}
.card-img-center{
    border-radius: 2%;
}
#castomid{
    font-size: 50px;
    font-family: "Sofia", sans-serif;
    text-shadow: 1px 1px 1px #000,3px 3px 5px blue;
}
.blockquote-footer:hover{
    color: white;
}

